<a href="https://colab.research.google.com/github/LuisPablo19/Valores-Nulos/blob/main/Act_2_1_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Actividad 2.1 Valores Nulos**
##Luis Pablo Padilla Barbosa
##A00572040

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [97]:
#files.upload()

In [98]:
df= pd.read_csv("Ventas_totales.csv")
df.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [99]:
valores_nulos = df.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [100]:
df2 = df.copy()

##salon_ventas
De acuerdo al describe, se tiene una alta desviación estándar, por lo que el promedio podría estar sesgado, así que decidí mejor sustituir los valores por la mediana.

In [101]:
df2['salon_ventas'].describe()

count    5.900000e+01
mean     7.583609e+07
std      4.263799e+07
min      2.574918e+07
25%      4.148339e+07
50%      6.910413e+07
75%      1.029927e+08
max      1.788667e+08
Name: salon_ventas, dtype: float64

In [102]:
df2['salon_ventas']=df2['salon_ventas'].fillna(round(df['salon_ventas'].median(),1))

In [103]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

##tarjetas_debito
En este caso no se tiene una desviación estándar alta y el promedio y la mediana son muy similares, por lo que sustituiré los valores nulos por el promedio.

In [104]:
df2.tarjetas_debito.describe()

count    6.400000e+01
mean     1.995314e+07
std      1.285372e+07
min      6.438494e+06
25%      9.421392e+06
50%      1.614838e+07
75%      2.618733e+07
max      5.543219e+07
Name: tarjetas_debito, dtype: float64

In [105]:
df2['tarjetas_debito']=df2['tarjetas_debito'].fillna(round(df['tarjetas_debito'].mean(),1))

In [106]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

##tarjetas_credito
Aquí se aplica el mismo caso que con las tarjetas de crédito.

In [107]:
df2.tarjetas_credito.describe()

count    5.800000e+01
mean     2.726200e+07
std      1.590995e+07
min      8.309150e+06
25%      1.319191e+07
50%      2.636778e+07
75%      3.825173e+07
max      6.807009e+07
Name: tarjetas_credito, dtype: float64

In [108]:
df2['tarjetas_credito']=df2['tarjetas_credito'].fillna(round(df['tarjetas_credito'].mean(),1))

In [109]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

##otros_medios
Se aplica el caso de la columna salon_ventas porque tiene una desviación estándar muy alta, así que considero la mediana es más significativa.

In [110]:
df2.otros_medios.describe()

count    6.400000e+01
mean     3.450812e+06
std      2.364693e+06
min      1.044014e+06
25%      1.609828e+06
50%      2.099766e+06
75%      5.229043e+06
max      8.944252e+06
Name: otros_medios, dtype: float64

In [111]:
df2['otros_medios']=df2['otros_medios'].fillna(round(df['otros_medios'].median(),1))

In [112]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

##subtotal_ventas_alimentos_bebidas
En este caso me quedo con la mediana porque cuenta con una desviación estándar muy grande.

In [113]:
df2.subtotal_ventas_alimentos_bebidas.describe()

count    5.500000e+01
mean     5.529762e+07
std      3.183383e+07
min      1.765688e+07
25%      2.871037e+07
50%      5.027277e+07
75%      7.726002e+07
max      1.281353e+08
Name: subtotal_ventas_alimentos_bebidas, dtype: float64

In [114]:
df2['subtotal_ventas_alimentos_bebidas']=df2['subtotal_ventas_alimentos_bebidas'].fillna(round(df['subtotal_ventas_alimentos_bebidas'].median(),1))

In [115]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##bebidas
En este caso también me quedo con la mediana porque cuenta con una gran desviación estándar.

In [116]:
df2.bebidas.describe()

count    6.400000e+01
mean     8.878731e+06
std      5.914955e+06
min      2.869437e+06
25%      4.349854e+06
50%      6.840102e+06
75%      1.184030e+07
max      3.199243e+07
Name: bebidas, dtype: float64

In [117]:
df2['bebidas']=df2['bebidas'].fillna(round(df['bebidas'].median(),1))

In [118]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##almacen
Me quedo en este caso con la mediana porque los datos pueden estar influenciados por valores extremos.

In [119]:
df2.almacen.describe()

count    6.300000e+01
mean     2.008487e+07
std      1.183904e+07
min      6.576625e+06
25%      9.996738e+06
50%      1.712542e+07
75%      2.761605e+07
max      5.015035e+07
Name: almacen, dtype: float64

In [120]:
df2['almacen']=df2['almacen'].fillna(round(df['almacen'].median(),1))

In [121]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##panaderia
En este caso me voy por la media porque cuenta con un valor similar a la mediana.

In [122]:
df2.panaderia.describe()

count    6.400000e+01
mean     2.543240e+06
std      1.466289e+06
min      9.256186e+05
25%      1.395828e+06
50%      2.198580e+06
75%      2.976154e+06
max      6.746167e+06
Name: panaderia, dtype: float64

In [123]:
df2['panaderia']=df2['panaderia'].fillna(round(df['panaderia'].mean(),1))

In [124]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##lacteos
Me quedo con la mediana porque el promedio puede estar influenciado por valores extremos.

In [125]:
df2.lacteos.describe()

count    6.400000e+01
mean     8.190473e+06
std      4.719609e+06
min      2.855640e+06
25%      3.965754e+06
50%      7.267205e+06
75%      1.041586e+07
max      2.012112e+07
Name: lacteos, dtype: float64

In [126]:
df2['lacteos']=df2['lacteos'].fillna(round(df['lacteos'].median(),1))

In [127]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##carnes
Me quedo con la mediana porque el promedio puede estar influenciado por valores extremos.

In [128]:
df2.carnes.describe()

count    6.400000e+01
mean     8.347171e+06
std      5.626525e+06
min      2.600084e+06
25%      3.664988e+06
50%      6.389565e+06
75%      1.216478e+07
max      2.287784e+07
Name: carnes, dtype: float64

In [129]:
df2['carnes']=df2['carnes'].fillna(round(df['carnes'].median(),1))

In [130]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##verduleria_fruteria
Me quedo con la mediana porque el promedio puede estar influenciado por valores extremos.

In [131]:
df2.verduleria_fruteria.describe()

count    6.400000e+01
mean     2.644027e+06
std      1.655003e+06
min      9.522033e+05
25%      1.312883e+06
50%      1.926469e+06
75%      3.937813e+06
max      6.886240e+06
Name: verduleria_fruteria, dtype: float64

In [132]:
df2['verduleria_fruteria']=df2['verduleria_fruteria'].fillna(round(df['verduleria_fruteria'].median(),1))

In [133]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##alimentos_preparados_rotiseria
En este caso me puede ir por el promedio por ser valores similares a la mediana.

In [134]:
df2.alimentos_preparados_rotiseria.describe()

count    6.400000e+01
mean     6.895863e+05
std      3.722344e+05
min      3.282887e+05
25%      4.311094e+05
50%      5.501249e+05
75%      8.818701e+05
max      1.779483e+06
Name: alimentos_preparados_rotiseria, dtype: float64

In [135]:
df2['alimentos_preparados_rotiseria']=df2['alimentos_preparados_rotiseria'].fillna(round(df['alimentos_preparados_rotiseria'].mean(),1))

In [136]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##indumentaria_calzado_textiles_hogar
En este caso me voy por el promedio por tener un valor similar a la mediana.

In [137]:
df2.indumentaria_calzado_textiles_hogar.describe()

count    6.300000e+01
mean     1.832572e+06
std      1.098151e+06
min      6.676967e+05
25%      1.005999e+06
50%      1.426313e+06
75%      2.212169e+06
max      5.213153e+06
Name: indumentaria_calzado_textiles_hogar, dtype: float64

In [138]:
df2['indumentaria_calzado_textiles_hogar']=df2['indumentaria_calzado_textiles_hogar'].fillna(round(df['indumentaria_calzado_textiles_hogar'].mean(),1))

In [139]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

##electronicos_articulos_hogar
Me voy en este caso por la mediana porque la desviación estándar es muy significativa.

In [140]:
df2.electronicos_articulos_hogar.describe()

count    6.200000e+01
mean     4.647829e+06
std      3.276722e+06
min      1.257662e+06
25%      2.091476e+06
50%      3.215055e+06
75%      6.104478e+06
max      1.275437e+07
Name: electronicos_articulos_hogar, dtype: float64

In [141]:
df2['electronicos_articulos_hogar']=df2['electronicos_articulos_hogar'].fillna(round(df['electronicos_articulos_hogar'].median(),1))

In [142]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  4
dtype: int64

##otros
Considero que la desviación estándar es muy elevada, así que prefiero mejor sustituirlos por la mediana.

In [143]:
df2.otros.describe()

count    6.100000e+01
mean     5.776004e+06
std      3.325219e+06
min      2.117971e+06
25%      3.234640e+06
50%      4.634783e+06
75%      7.525721e+06
max      1.666512e+07
Name: otros, dtype: float64

In [144]:
df2['otros']=df2['otros'].fillna(round(df['otros'].median(),1))

In [145]:
valores_nulos = df2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

#Convertir en csv y descargar

In [146]:
df2.to_csv("Ventas_totales_sin_nulos.csv")
files.download("Ventas_totales_sin_nulos.csv")